html {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

head {
  width: 100%;
}

body {
  width: 100%;
  background-color: aqua;
  margin-left: auto;
  margin-right: auto;
  display: block;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
